<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/TheGarden2024.png" alt="" style="width:300px;height:200px; object-fit:contain">
    <h1 class="display-5 fw-bold">Welcome</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Our site specializes in a variety of plants, shrubs and flowers, to beautify your garden; as well as for its maintenance. Let's begin!!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg px-4 gap-3">Enter</a>
        </div>
    </div>
</div>