@model int
<div class="container pt-4">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">
            Order Placed Successfully!!<br />
            Your order no. is:@Model
        </h2>
    </div>
</div>