<div class="container pt-4">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">
            Order Cancelled Successfully!!

        </h2>
    </div>
    <a class="btn btn-success" asp-action="Index" asp-controller="Home">
        Back
    </a>
</div>