<div class="container">
    @Html.AntiForgeryToken()
    <div class="row mb-3">
        <div class="col-6">
            <h3>Sales List</h3>

        </div>
        @*         <div class="col-6 text-end">
        <a asp-controller="Countries" asp-action="UpSert" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i>
        Nuevo
        </a>
        </div>
        *@
    </div>
    <table id="salesTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:10%">Order No.</th>
                <th style="width:25%">Customer</th>
                <th style="width:15%">Order Date</th>
                <th style="width:10%">Order Total</th>
@*                 <th style="width:15%">Actions</th>
 *@
            </tr>
        </thead>
    </table>


</div>
@section Scripts {
    <script src="~/js/sales.js"></script>
}